body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #DADADA;
    background-color: #343434;
    padding: 2rem;
}

.title {
    font-size: 2rem;
    font-weight: 600;
}

.subtitle {
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.2rem;
}

a {
    color: #4ba9af;
    text-decoration: none;
    box-shadow: inset 0 -0.25rem 0 #4ba9af88;
    transition: box-shadow 0.05s, color 0.2s;
    transition-timing-function: ease-out;
}

a:hover {
    color: #DADADA;
    text-decoration: none;
    box-shadow: inset 0 -1.2rem 0 #4ba9af44;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    max-width: 40rem;
}

.links > a {
    margin-right: 1rem;
}

.maintext {
    line-height: 150%;
    max-width: 40rem;
}

.portrait {
    width: 8rem;
    border-radius: 10%;
    border: 3;
}

.line {
    max-width: 40rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 1rem;
    box-shadow: inset 0 -0.2rem 0 #DADADA88;
}

.maintext > ul {
    list-style: circle;
}
